@font-face {
    font-family: myFirstFont;
    src: url(Didot_Bold_Italic.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(Caslon-Light.ttf);
}


#bibbase_header a {
    text-decoration: none;
    font-family: mySecondFont;
}

#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    font-family: mySecondFont;
}


.bibbase_group_body {
    margin-left: 16px;
    line-height: 1.15em;
    font-family: mySecondFont;
}


.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: #E0E0E0;
    color:#7db098;
    font-family: MySecondFont;
    font-style: italic;
    font-size: larger;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}



#main-content {
    margin: auto;
    width: 60%;
    padding: 10px;

}

.research-interests {
    margin-bottom: 50px; /* Adjust the value to control the amount of space */
}


/* Global Styling */

details {
    display: inline-block;
}

details summary{
    color:#7db098;
    display: inline-block;
}

summary::-webkit-details-marker {
    display: none
}

img {
    border-radius: 35%;
}

summary:after {
    border-radius: 5px;
    content: "+ ";
    float: right;
    font-size: 1.5em;
    font-weight: bold;}

details[open] summary:after {
    content: "-";
    display: inline-block;
}

a:visited, a:link {
    color:#7db098;
    text-decoration:none;
    background:none;
}

a:hover {
    color:#313C74;
    text-decoration:underline;
    background:none;
}

h1 {
    color:#7db098;
    margin:20px 0 10px;
    padding-bottom:10px;
    font-family: MyFirstFont;
    font-size: 60px;

}

h2 {
    color:#7db098;
    margin:20px 0 5px;
    padding-bottom:2px;
    font-family: mySecondFont;
    font-size: 30px;
}

h3 {
    font-family: MySecondFont;
    padding-bottom:2px;
    margin: 0px;
    font-size: 25px;

}

ul {
    line-height: 150%;
    padding:0;
    margin:0 0 10px 17px;
    font-family: mySecondFont;
    font-size: 15px;
}

summary {font-family: mySecondFont;
    line-height: 120%;
    color:#313C74;
}


p {font-family: mySecondFont;
    line-height: 120%;
    font-size: 15px;}

div.round1 {
    border-top: 2px solid #7db098;
    padding: 1px;
    text-align: center;

}


#nav {
    padding:10px 20px;
    font-size: 25px;
    text-align:center;
    font-family: MySecondFont;
    margin-bottom: 20px;
}

#nav a {
    margin: 0 10px;
}

#nav a:visited, #nav a:link {
    text-decoration:none;
    color:#000;
}

#nav a:hover {
    text-decoration:underline;
    color:#313C74;
}

#logo {
    color: #7db098;
    margin-bottom: 20px;
    font: normal 25px mySecondFont;
}
